* {
  box-sizing: border-box;
}

body {
  background-color: #e7fafa;
  margin: 0;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: teal;
  width: 100%;
  background-color: #b1eeee;
  border-bottom: 2px teal solid;
  letter-spacing: 10px;
  padding: 10px;
  font-size: 2em;
}

table {
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

td {
  width: 100px;
  height: 100px;
  background-color: #b1eeee;
  border: 2px teal solid;
  color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  cursor: pointer;
  padding: 100px;
}

#resultat {
  width: 21em;
  height: 8em;
  background-color: #b1eeee;
  padding: 10px;
  text-align: center;
  border: 1px teal solid;
  color: teal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table,
#resultat {
  margin: 20px auto 20px auto;
}

button {
  display: block;
  margin: 10px auto 10px auto;
  border: 1px solid teal;
  color: teal;
  background-color: white;
  box-shadow: 0 0 2px 2px #b1eeee;
  border-radius: 10px;
  cursor: pointer;
}

span {
  color: #07d3d3;
  font-weight: bold;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  td {
    padding: 60px;
  }
  #resultat {
    width: 18em;
    height: 7em;
  }
  h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  td {
    padding: 0;
    font-size: 40px;
  }
  #resultat {
    width: 16em;
    height: 5em;
  }
  h1 {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 350px) {
  td {
    width: 80px;
    height: 80px;
  }
}
