* {
		box-sizing: border-box;
}

body {
	background-color: #e7fafa;
	margin: 0;
}

h1 {
	margin-top: 0;
	text-align: center;
	color: teal;
	width: 100%;
	background-color: #B1EEEE;
	border-bottom: 2px teal solid;
	letter-spacing: 10px;
	padding: 10px;
	font-size: 2em;
}

table {
	border-collapse: collapse;
	width: 40em;
	height: 40em;
}

td {
	width:100px;
	height:100px;
	background-color:#B1EEEE;
	border: 2px teal solid;
	color: teal;
	text-align: center;
	font-size: 60px;
	cursor: pointer;
}

#resultat {
	width:21em;
	height:8em;
	background-color: #B1EEEE;
	padding: 10px;
	text-align:center;
	border: 1px teal solid;
	color: teal;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

table, #resultat {
	margin : 20px auto 20px auto;
}

button {
	display:block;
	margin : 10px auto 10px auto;
	border: 1px solid teal;
	color: teal;
	background-color: white;
	box-shadow: 0 0 2px 2px #B1EEEE;
	border-radius: 10px;
	cursor: pointer;
}

span {
	color: #07D3D3;
	font-weight: bold;
	display: inline-block;
}